<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="title" content="MySchool">
<meta name="description" content="My school is where you can prepare you for your tests and preparing for the school start. Get lots of exercises, tests, documents and explications, all free.">
<meta name="keywords" content="school, practice online, myschool, practice, docs">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Portuguese">
<meta name="author" content="Tiago Rangel de Sousa (tiagorangel2011@gmail.com)">
    <!-- This is a static file -->
    <!-- served from your routes in server.js -->
    <title>My School</title>

    <link
      id="favicon"
      rel="icon"
      href="https://tinyurl.com/myschoolfavicon"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header href="/">
   
      <h1>
        <img
          src="https://cdn.glitch.com/f1941eb3-1edb-4f24-88ac-2a372e2214d4%2Ffavicon.myschool.png?v=1602357964253"
        />
        MySchool
      </h1>
     <iframe src="/app/views/iframes/search.html" width="100%" height="80" scrolling="no" frameborder="0">
</iframe>
      
    </header>
    <body>
  
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
   <!DOCTYPE html> 
<html> 

  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <link
  href="https://unpkg.com/video.js@7/dist/video-js.min.css"
  rel="stylesheet"
/>

<!-- City -->
<link
  href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
  rel="stylesheet"
/>

  
<body>  
  <span style="float:right"><h2>
        Menu
        </h2>
        <a style="padding: 5px;border-radius:5px;border: 1px solid #3C99DC; text-decoration: none; color: #3C99DC" href="/create">Secção de criação de página</a><br><br>
        <a style="padding: 5px;border-radius:5px;border: 1px solid #fff; text-decoration: none; color: #3C99DC"  href="/list">Pesquisar</a>
      </span>
<center>
<video     id="my-video"
    class="video-js"
    controls
style="float:left"
    width="640"
    height="264"
    poster="----MY_VIDEO_POSTER.jpg"
    data-setup="{}"
    
    
    
    width="50%" style="border-radius: 5px; float:center;background-color:#fff;" autoplay>

  <source src="https://cdn.glitch.com/d8a6c958-2c8f-4f35-a994-d4017fa2e61d%2FUntitled%20Project%20%E2%80%90%20Made%20with%20Clipchamp.mp4" type="video/mp4">
</video>
<br>
</center>
<script src="https://vjs.zencdn.net/7.10.2/video.js"></script>
</body> 
</html>

    
      <span>
     <h2>
       &nbsp; &nbsp;Bem vindo ao MySchool.
      </h2> 
      &nbsp; &nbsp; &nbsp;
      MySchool é uma aplicação online educativa com o objetivo de proporcionar uma forma melhor de aprender online.
      &nbsp; &nbsp; &nbsp;Pode pesquisar, utilizando a caixa de pesquisa.<br>
       &nbsp; &nbsp; &nbsp; Ou então, também pode <a href="/create" style="font-variant: small-caps;">criar um artigo</a>.
      </span>
      
      <script src="https://0g84h40njf1w.statuspage.io/embed/script.js"></script>
      
      
      
      
      
      
      <p style="font-variant: small-caps;">Uma aplicação desenvolvida por Tiago Rangel De Sousa</p>
      
      
      
      
      
      
      
      

      <main style="display:none">
 
        <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;

  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

input[type=text] {
border-radius: 20px;
outline: none;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;

  border: 1px solid transparent
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>
</head>
<body>

<h2>Pesquise artigos</h2>

  

  
  
<input type="text" id="myInput" onkeyup="myFunction()" name="search" placeholder="Pesquise por matérias..." title="Pesquise por uma matéria que pretende estudar para encontrar um artigo.">

  
  
  
  
  
<ul style=" border-radius: 10px;" id="myUL"> 
    <li><a href="/app">App Educator by MySchool</a></li>
  <li><a href="/NewTreetops">New Treetops studio</a></li>
    <li><a href="https://Trivi.powercoder.repl.co">Trivi - the Customizable Quiz Creator</a></li>
  <li><a href="web/34234.html">Test: Estudo do meio: Os ossos</a></li>
  <li><a href="web/346723.html">Estudo do meio: O corpo humano</a></li>
</ul>
<small style="color:#ccc">Caso não encontre um artigo, <a href="https://schoolar.google.com/" style="color:#ccc">pesquise por todos os artigos disponiveis</a>.
  
  <span style="color:black">Links úteis</span>
  <a style="color:#ccc" href="/">Home</a>
  <a style="color:#ccc"href="/search/khanacademy">Khan academy</a>
  <a style="color:#ccc"href="https://youtube.com">Youtube search</a>
  <a style="color:#ccc"href="https://schoolar.google.com">Google Schoolar</a>
<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</body>
<br>

</html>

        
        
      <main style="float:right;">
        <p>My errors</p>
        <small
          >Resist your errors here to later view them on the home page an
          practice more.</small
        >
        <form class="m">
          <input
            name="dream"
            aria-label="a new dream"
            type="text"
            value="Eu preciso de praticar "
            maxlength="100"
            placeholder="Add and error..."
            required
          />
          <label for="dream"
            ><button type="submit" id="submit-dream">Add</button></label
          >
        </form>

        <section class="dreams">
          <ul id="dreams"></ul>
        </section>
      </main>

      <script src="https://button.glitch.me/button.js" defer></script>
    </body>
    <img
      src="https://cdn.glitch.com/d8a6c958-2c8f-4f35-a994-d4017fa2e61d%2Fdownload.svg?v=1602407324404"
    />
  </body>
</html>
